// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #FEEAD3,
    200: #FDD0A8,
    300: #FAAE7D,
    400: #F68D5C,
    500: #F15A28,
  ),
  secondary: (
    100: #D3F8F2,
    200: #e4dbf9,
    300: #d1bef4,
    400: #ba98ed,
    500: #a36fe3,
  ),
  accent: (
    100: #e2ecfd,
    200: #cadcfb,
    300: #aac3f7,
    400: #88a3f1,
    500: #5B74E6,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
